*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    width: 100vw;
    height: 100vh;
}
.main{
    max-width: 800px;
    min-width: 280px;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: larger;
    font-family: sans-serif;
}
p{
    line-height: 2rem;
}